<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz Time!</title>
    <style>
        body {
            background: #222;
            color: white;
            text-align: center;
            font-family: sans-serif;
        }

        button {
            background-color: #444;
            border: none;
            color: white;
            padding: 15px 32px;
            margin: 10px;
            font-size: 16px;
            cursor: pointer;
        }

            button:hover {
                background-color: #555;
            }
    </style>
</head>
<body>
    <h1>Question {{ question_number }}</h1>
    <p>{{ question['text'] }}</p>

    <form action="/submit_answer" method="POST">
        {% for option in question['options'] %}
        <button type="submit" name="answer" value="{{ option }}">{{ option }}</button><br><br>
        {% endfor %}
        <input type="hidden" name="quiz_id" value="{{ quiz_id }}">
        <input type="hidden" name="player_name" value="{{ player_name }}">
    </form>
</body>
</html>
